.count-number-wrapper {
  overflow-wrap: break-word;

  .count-number-container {
    font-weight: bold;
    margin-right: 8px;

    .count-number {
      font-size: 52px;
      margin-right: 8px;
    }
  }
}
