.degrees-wrapper {
  width: 300px;
  text-align: center;
  font-weight: bold;

  .degrees-container {
    width: 200px;
    padding: 16px;
    background-color: gray;
    margin: 16px auto;

    .degrees {
      color: white;
    }
  }
}
