.degrees-wrapper {
  width: 400px;
  text-align: center;
  // font-weight: bold;

  .degrees-container {
    width: 100%;
    // padding: 16px;
    margin: 16px auto 0;

    .degrees {
      font-weight: bold;
      font-size: 32px;
      overflow-wrap: break-word;
    }
  }
}
