.clock-wrapper {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .clock-container {
    background-image: url("../../images/clock_background.png");
    background-size: cover;
    width: 250px;
    height: 250px;
    position: relative;
  }
}
