.clock-hand-wrapper {
  width: 1px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  // transform: translateY(-50%);
  left: 50%;
  z-index: 10;
}

#hour-hand {
  padding-top: 50px;

  .clock-hand {
    height: 50px;
    position: absolute;
    width: 8px;
    left: -4px;
    border-radius: 4px;
    background-color: black;
  }
}
#minute-hand {
  padding-top: 20px;

  .clock-hand {
    height: 80px;
    width: 6px;
    left: -3px;
    border-radius: 3px;
    position: absolute;
    background-color: black;
  }
}

#second-hand {
  padding-top: 0px;

  .clock-hand {
    height: 100px;
    width: 1px;
    background-color: #900;
  }
}
