.digital-clock-wrapper {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  padding: 3px 6px;
  z-index: 1;
  border-radius: 4px;

  .digital-clock {
    color: white;
    font-size: 14px;
  }
}
